.class_linha_selecao_assunto {
    margin-top: 15px;
    border-radius: 34px;

}

#id_label_assunto, #id_input_assunto {
    color: white;
}

.graficos_um, .class_graficos {
    margin: 10px 10px 10px;
}