.class_div_segunda_linha_primeira_coluna_label_dashboard,
.class_div_segunda_linha_segunda_coluna_input_dashboard,
.class_div_segunda_linha_terceira_coluna_input_dashboard,
.class_div_terceira_linha_primeira_coluna_dashboard,
.class_div_terceira_linha_segunda_coluna_dashboard,
.class_div_coluna {
    margin: 20px 0;
    background-color: #21242D;
    height: 55vh;
    border-radius: 20px;
    padding: 10px;
}




.class_div_primeira_linha_primeira_coluna_label_dashboard {
    margin: 20px 0;
    background-color: #21242D;
    height: 8vh;
    border-radius: 20px;
    padding: 10px;
}

.class_titulo_primeira_linha,
.class_input_select {
    text-align: center;
}

#id_select_assunto,
#id_titulo_comparacao_video,
#id_input_desempenho,
#id_titulo_video_publicado,
.class_titulo_grafico {
    text-align: center;
}

.Select-value {
    background-color: black !important;

    color: white !important;

}


.Select-menu-outer {
    background-color: black;
    color: white;
}

.custom-select .custom-select-toggle::after {
    color: white;
}

.class_inputs_desempenho {
    margin: 10px 10px;
    width: 50vh;
}

#id_div_grafico_top_dez {
    max-height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
}