.class_div_segunda_linha_primeira_coluna_label_dashboard,
.class_div_segunda_linha_segunda_coluna_input_dashboard,
.class_div_segunda_linha_terceira_coluna_input_dashboard,
.class_div_terceira_linha_primeira_coluna_dashboard,
.class_div_terceira_linha_segunda_coluna_dashboard {
    margin: 20px 0;
    background-color: #21242D;
    height: 55vh;
    border-radius: 20px;
    padding: 10px;
}




.class_div_primeira_linha_primeira_coluna_label_dashboard {
    margin: 20px 0;
    background-color: #21242D;
    height: 8vh;
    border-radius: 20px;
    padding: 10px;
}

.class_titulo_primeira_linha {
    text-align: center;
}

#id_select_assunto,
#id_titulo_comparacao_video,
#id_input_desempenho,
#id_titulo_video_publicado {
    text-align: center;
}